h1 {
  font-size: 35px;
  padding: 25px 65px 25px 65px;
  display: block;
  margin: 10px auto;
  color: #8480b5;
}

footer {
  padding-top: 10px;
  font-size: 12px;
  text-align: center;
}
.container {
  font-family: "Nunito", sans-serif;
  background-image: linear-gradient(
    to top,
    #d5dee7 0%,
    #ffafbd 0%,
    #c9ffbf 100%
  );
  border: 3px solid;
  max-width: 600px;
  border-radius: 10px;
  display: block;
  margin: 0 auto;
}
.float-left {
  list-style: none;
  font-size: 15px;
  font-weight: 100;
  float: left;
  text-transform: capitalize;
  line-height: normal;
}
.weather-measure {
  font-size: medium;
  float: left;
  padding-right: 25px;
}

.weather-notation-display {
  text-transform: capitalize;
  font-size: 16px;
  float: right;
  position: relative;
}

.form,
.btn-btn {
  display: block;
  margin: 0 auto;
  float: center;
}

.btn.btn {
  display: block;
  margin: 0 auto;
}

.row-col-3 {
  float: left;
  padding-left: 30px;
}
.row-col-9 {
  float: left;
  display: block;
  font-size: 30px;
}
.col-6 {
  display: block;
  float: right;
  font-size: 55px;
}
.weather-badge {
  font-size: 20px;
}

div.date-time {
  display: block;
  text-align: center;
  font-size: 16px;
  color: #8480b5;
}
